<nav class="navbar navbar-dark" style="background-color:#B298DC">
  <div class="container-fluid">
    <div class="row w-100">
        <div class="col-sm-10">

          <a class="navbar-brand" [routerLink]="['/']">Inicio</a>      
        </div>      
        <div class="col-sm-2">

          <button class="btn btn-delivery" style="margin-right: 2rem;" routerLink="/shops">
            <i class="bi bi-shop"></i> Shops      
          </button>
          <button class="btn btn-delivery" routerLink="/cart">
            <i class="bi bi-cart2"></i> Shopping Cart
          </button>
        </div>    
    </div>
  </div>
</nav>
